label {

    font-size:x-large;
    
}
#pic-x-or-o{
    max-width:600px;
    margin-left:auto;
    margin-right:auto;

}


#pic-x-or-o > p {

    display: inline;

    padding: .5em;
    
}


#tic-tac-toe-grid {
    
    display:none;


}


.tic-tac-toe-btn {

    box-sizing:border-box;
    width:30vw;
    height:30vw;
    max-width: 150px;
    max-height:150px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 65px;
}

