label {

    font-size:x-large;
    
}
#pic-x-or-o{

    width:30em;
    margin-left:auto;
    margin-right:auto;

}



#tic-tac-toe-grid {
    
    display:none;


}


.tic-tac-toe-btn {

    min-width: 5.5em;
    min-height:5.5em;


}

